{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    {% if state == "failed" %}
                        <div class="btn alert alert-danger" role="alert">
                            Please Check Your Inputs
                        </div>
                    {% endif %}
                    <img src="{% static 'img/login.png' %}  " alt="IMG">
                </div>
                <form method="post"> {% csrf_token %}
                <span class="login100-form-title">Django Register Sample</span> <!-- Form Title -->
                <div class="wrap-input100 validate-input" data-validate="Please Enter Username">
                    <input class="input100" id="username" type="text" name="username" value="" placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                    <div class="wrap-input100 validate-input" data-validate="Please Enter Username">
                    <input class="input100" id="username" type="email" name="email" value="" placeholder="email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please Enter Password">
                        <input id="password" type="password" name="password" value="" class="input100" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please Enter Password">
                        <input id="repassword" type="password" name="repassword" value="" class="input100" placeholder="Re-Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" class="login100-form-btn" value="Register" >
                    </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}